.full-height.row.middle-xs.white-text.center-xs.main-background.no-margin
	.col-xs-7.col-sm-6.col-md-5.col-lg-4
		.big-padding.blue.text-left.white-text
			%h1.center-xs.no-margin.bold.light-blue-text FMC UABJO
			.row.middle-xs.center-xs
				.col-xs-7.col-md-4
					%img{:src => "logo.png", :alt => "Facultad de Medicina y Cirugía de la UABJO", :width => "100"}
				.col-xs-7.col-md-6
					%p.no-margin.center-xs Conecta y conoce a otros estudiantes de la Facultad de Medicina y Cirugía
			.top-space
				= render "devise/registrations/new"