.full-height.row.middle-xs.center-xs.no-margin
  .col-xs-11.col-sm-11.col-md-11.col-lg-11
    %h2 Reglamento
.row.center-xs
  .col-xs-11.col-sm-11.col-md-11.col-lg-11
    .large-padding.row
      .col-xs-6.col-sm-6.col-md-6.col-lg-6
        .large-padding.white.max-height-rule
          =render "reglamento/facultad"
          .text-right.no-margin.less-top-margin.little
            = link_to "Ver mas", "/facultad", class:"remove-underline"
      .col-xs-6.col-sm-6.col-md-6.col-lg-6
        .large-padding.white.max-height-rule
          %h4.center-xs Reglamento de laboratiorio
